<style type="text/css">
    .jqx-grid-pager {
        left: 100px;
        width: 900px !important;
    }

    .jqx-widget-header {
        width: 900px !important;
    }

    .jqx-button {
        display: none;
    }

    select {
        display: block !important;
    }
</style>
<section class="content">
    <div class="content1">
        <br>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <div class="card">
                    <br>
                    <div class="header">

                        <ul class="header-dropdown m-r--5" *ngIf="useroption.indexOf('c') != -1">
                            <button (click)="addSongPlayList()" class="color font">Add</button>

                        </ul>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-field col s12">
                                <!-- <select class="selectpicker" data-live-search="true"> -->
                                <select (change)="stateChange($event)" class="selectpicker1" data-live-search="true">
                                    <option value="" disabled>Select States</option>
                                    <option *ngFor="let item of passdata['data']; let i = index" value="{{i}}">
                                        {{item.stateName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-field col s12">
                                <select NgModel id="district" name="district" class="selectpicker2"
                                    data-live-search="true" (change)="districtChange($event)">
                                    <option value="" disabled selected>Select Districts</option>
                                    <option *ngFor="let item of curdistrictsval | keyvalue" value="{{item.value}}">
                                        {{item.value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-field col s12">
                                <select NgModel id="school" name="school" class="selectpicker3" data-live-search="true"
                                    (change)="schoolChange($event)">
                                    <option value="" disabled selected>Select Schools</option>
                                    <option *ngFor="let item of schoolNames" value="{{item._id}}">{{item.NameofSchool}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="body">
                        <div class="table-responsive">
                            <table id="tableExport" datatable
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Users Type</th>
                                        <th>Email-Id</th>
                                        <th>Mobile Number</th>
                                        <th> Country</th>
                                        <th> States</th>
                                        <th> Districts</th>
                                        <th>User Active</th>
                                        <th *ngIf="useroption.indexOf('b') != -1">Action</th>
                                        <th *ngIf="deviceoption.indexOf('d') != -1">District User Assign</th>
                                        <th *ngIf="schooloption.indexOf('d') != -1">School Assign</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let alert of myLifeData_DisPlay">
                                        <td>{{alert.username }}</td>
                                        <td>{{(alert.userTypeId==1)?"Super Admin":(alert.userTypeId==2)?"Admin":(alert.userTypeId==3)?"District":"School Users"}}
                                        </td>
                                        <td>{{alert.email}}</td>
                                        <td>{{alert.phoneNumber }}</td>
                                        <td>{{alert.country }}</td>
                                        <td>{{alert.stateName }}</td>
                                        <td>{{alert.districtId }}</td>
                                        <td>{{(alert.isActive==1)?"Active":"Inactive"}}</td>
                                        
                                        <td *ngIf="useroption.indexOf('b') != -1"><a
                                                href="#/rls-setting/rls-user-edit/{{alert.userId}}">Edit</a></td>
                                        <td
                                            *ngIf="deviceoption.indexOf('d') != -1 && alert.userTypeId==3; else userloggedOut ">
                                            <button data-toggle="modal" data-target="#exampleModalCenter"
                                                (click)="unassignDevices(alert.userId)">Assign</button>
                                        </td>
                                        <ng-template #userloggedOut>
                                            <td>-</td>
                                        </ng-template>
                                        <td
                                            *ngIf="schooloption.indexOf('d') != -1 && alert.userTypeId==4 && alert.schoolAssignstatus!=1; else userloggedOut1 ">
                                            <button data-toggle="modal" data-target="#exampleModalCenter1"
                                                (click)="unassignSchools(alert.userId)">Assign</button>
                                        </td>
                                        <ng-template #userloggedOut1>
                                            <td>-</td>
                                        </ng-template>
                                    </tr>
                                </tbody>

                            </table>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            Assign to the district user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group form-float">
                                    <div class="form-line input-field">
                                        <ng-multiselect-dropdown [placeholder]="'Select devices'" [data]="dropdownList"
                                            [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="submitFunction()"
                            class="btn btn-info waves-effect">Assign</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            Assign to the school to school user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group form-float">
                                    <div class="form-line input-field">
                                        <select NgModel id="school" formname="school" [(ngModel)]="selectedItems1">
                                            <option value="" disabled selected>Select School</option>
                                            <option *ngFor="let item of dropdownList1" value="{{item._id}}">
                                                {{item.NameofSchool}}</option>
                                        </select>
                                        <!-- <ng-multiselect-dropdown
                                          [placeholder]="'custom placeholder'"
                                          [data]="dropdownList1"
                                          [(ngModel)]="selectedItems1"
                                          [settings]="dropdownSettings"
                                          (onSelect)="onItemSelect($event)"
                                          (onSelectAll)="onSelectAll($event)"
                                        >
                                        </ng-multiselect-dropdown> -->
                                        <!-- <div *ngIf="userName.invalid && userName.touched">
                                            <small class="text-danger" *ngIf="userName.errors?.required">Username is required</small>
                                            <small class="text-danger" *ngIf="userName.errors?.minlength">Username must be at least 3 characters</small>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="submitFunction1()"
                            class="btn btn-info waves-effect">Assign</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- #END# Exportable Table -->
    </div>
</section>