<style type="text/css">
    .jqx-grid-pager {
        left: 100px;
        width: 900px !important;
    }

    .jqx-widget-header {
        width: 900px !important;
    }

    .jqx-button {
        display: none;
    }

    label .input-field {
        font-size: 17px !important;
    }

    .filter-option-inner-inner {
        text-transform: none !important;
    }
</style>
<style type="text/css">
    select {
        display: block !important;
    }
</style>
<section class="content" style="margin-left: 20%">
    <div class="container-fluid">

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">

                        <h2>
                            <strong>Media Coverage</strong>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="features-content">
                            <div class="features-desc">
                                <div class="features-desc-icon mb-2 text-custom">
                                    <div>
                                        <p>&nbsp;Links :-</p>

                                        <ol>
                                            <li dir="ltr"><strong><a target="_blank"
                                                        href="https://www.sentinelassam.com/north-east-india-news/cachar-news/awareness-programme-on-future-shandaar-project-held-in-hailakandi/">Awareness
                                                        Programme on &lsquo;Future Shandaar&rsquo; Project Held in
                                                        Hailakandi</a> - September 10, 2019</strong></li>
                                            <li dir="ltr"><strong><a target="_blank"
                                                        href="http://www.assamtribune.com/scripts/detailsnew.asp?id=Julyl1219/state054">Project
                                                        &lsquo;Future Shandar&rsquo; for school students launched at
                                                        Mangaldai</a> &ndash; July 12, 2019</strong></li>

                                            <li dir="ltr"><strong><a target="_blank"
                                                            href="https://www.bhaskar.com/amp/rajasthan/dholpur/news/rajasthan-news-children-will-be-able-to-get-updates-from-the-world39s-knowledge-science-activities-081641-6612497.html">
                                                            Children &lsquo;will be able to get updates&rsquo; from the world's knowledge-science activities in Dhaulpur district</a> &ndash; Feb 13 2020</strong></li>
                                                           
                                                            <li dir="ltr"><strong><a target="_blank"
                                                                href="https://www.patrika.com/dholpur-news/in-these-schools-the-district-will-learn-technology-from-robotic-tabl-5767533/">
                                                                In these Schools,
                                                                &lsquo;The district will learn technology from&rsquo; robotics tablets Promising in Dhaulpur district</a> &ndash; Feb 13 2020</strong></li>
                                        </ol>
                                        <p>&nbsp;Images :-</p>
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (1).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (2).jpeg"
                                                    alt="" style="padding: 10px" />

                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (3).jpeg"
                                                    alt="" width="100%" style="padding: 10px" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (4).jpeg"
                                                    alt="" width="100%" style="padding: 10px" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (5).jpeg"
                                                    alt="" width="100%" style="padding: 10px" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (6).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (7).jpeg"
                                                    alt="" style="padding: 10px" />

                                            </div>
                                        </div>




                                        <img class="logo1"
                                            src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (8).jpeg"
                                            alt="" height="100%" style="padding: 10px" />

                                        <div class="row">
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (9).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (10).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>

                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (11).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>

                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (12).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (13).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (14).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (15).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1"
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (16).jpeg"
                                                    alt="" style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" alt=""
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (17).jpeg"
                                                    style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" alt=""
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (18).jpeg"
                                                    style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" alt=""
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (19).jpeg"
                                                    style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" alt=""
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (20).jpeg"
                                                    style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" alt=""
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (21).jpeg"
                                                    style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" alt=""
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (22).jpeg"
                                                    style="padding: 10px" />
                                            </div>
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <img class="logo1" alt=""
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/ImageMC (23).jpg"
                                                    style="padding: 10px" />
                                            </div>
                                            
                                        </div>



                                        <!-- <img class="logo1" src="assets/images/mediacoverageimage7.jpeg" alt="" style="padding: 10px"/> -->


                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <p>
            <strong>Interview Videos</strong>
        </p>
        <ol>
            <li> <a target="_blank" href="https://www.youtube.com/watch?v=zPiQ9yCeemk">DR. NADADUR JANARDHAN
                    INTERVIEW</a> </li>

            <br>

        </ol>

        <p>
            <strong>Children Videos</strong>
        </p>
        <ol>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (1).mp4">Children
                    Dancing to Future Shandar - Jharkhand 1</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (2).mp4">Children
                    Dancing to Future Shandar - Jharkhand 2</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (3).mp4">Children
                    Dancing to Future Shandar - Jharkhand 3</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (4).mp4">Children
                    Dancing to Future Shandar - Jharkhand 4</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (5).mp4">Children
                    Dancing to Future Shandar - Jharkhand 5</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (6).mp4">Children
                    Dancing to Future Shandar - Jharkhand 6</a> </li>

            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (8).mp4">Children
                    Dancing to Future Shandar - Vidisha</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (7).mp4">Children
                    Dancing to Future Shandar - Assam 1</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video.mp4">Children
                    Dancing to Future Shandar - Assam 2</a> </li>
            <li> <a target="_blank"
                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (9).mp4">Children
                    Dancing to Future Shandar - Tamil Nadu</a> </li>

                    <li> <a target="_blank"
                        href="https://www.youtube.com/watch?v=bDXoVR25x8c">Children
                        Dancing to Future Shandar - Sravasti, Uttar Pradesh</a> </li>

                        <!-- <li> <a target="_blank"
                            href="https://www.youtube.com/watch?v=i_UlCNqhYQM">Children
                            Dancing to Future Shandar - Sitamarhi, Bihar</a> </li>-->
                            <li> <a target="_blank"
                                href="https://www.youtube.com/watch?v=KT4cHaCs6Xw">Children
                                Dancing to Future Shandar - Simdega, Jharkhand</a> </li> 
                                <li> <a target="_blank"
                                    href="https://www.youtube.com/watch?v=KP8Vy1-Ymxg">Children
                                    Dancing to Future Shandar - Nawada, Bihar</a> </li>
                                    <!-- <li> <a target="_blank"
                                        href="https://www.youtube.com/watch?v=rE2wG1rkybQ">Children
                                        Dancing to Future Shandar - Mahasamund, Chhattisgarh</a> </li> -->
                                        <li> <a target="_blank"
                                            href="https://www.youtube.com/watch?v=JWB0WGytRB8">Children
                                            Dancing to Future Shandar -Korba, Chhattisgarh</a> </li>
                                            <li> <a target="_blank"
                                                href="https://www.youtube.com/watch?v=Mp9Q39j92Ps">Children
                                                Dancing to Future Shandar - Chitrakoot, Uttar Pradesh</a> </li>
                                                <li> <a target="_blank"
                                                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Video (10).mp4">Children
                                                    Dancing to Future Shandar - Vidisha, Madhya Pradesh</a> </li>
                                                    <!-- <li> <a target="_blank"
                                                        href="https://www.youtube.com/watch?v=2c_J4nx0EXA">Children
                                                        Dancing to Future Shandar - Chitrakoot, UP</a> </li> -->
            <br>

        </ol>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            Detail view</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group form-float">
                                    <div class="form-line input-field">
                                        <table id="tableExport1"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                            <thead>
                                                <tr>
                                                    <th>DeviceId</th>
                                                    <th>Time</th>
                                                    <th>Device_Off</th>
                                                    <th>Device_On</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr *ngFor="let alert of particulardata"> -->
                                                <!-- <td>{{alert.Device_Id }}</td>
                                            <td>{{alert.Time}}</td>
                                            <td>{{alert.Device_Off?alert.Device_Off:'-'}}</td>
                                            <td>{{alert.Device_On?alert.Device_On:'-'}}</td> -->
                                                <!-- </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- </form> -->
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-info waves-effect">Assign</button> -->
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>


            <!-- #END# Exportable Table -->
        </div>
    </div>

</section>