<style type="text/css">
    .jqx-grid-pager {
        left: 100px;
        width: 900px !important;
    }

    .jqx-widget-header {
        width: 900px !important;
    }

    .jqx-button {
        display: none;
    }
    label .input-field
    {
        font-size: 17px !important;
    }
    .filter-option-inner-inner
    {
        text-transform: none !important;
    }
</style>
<style type="text/css">
      select {
        display: block !important;
    }
</style>
<section class="content" style="margin-left: 20%">
    <div class="container-fluid" >
       
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">

                            <h2>
                                    <strong>Program Details</strong>
                                </h2>
                    </div>
                    <div class="body">
                         <div class="features-content">
<div class="features-desc">
<div class="features-desc-icon mb-2 text-custom">
<div>
<p><strong>Haselfre Foundation is a Public Charitable Trust</strong> that focuses on building the foundation of children from Government Schools to be successful in learning and face the uncertain future with poise and confidence.&nbsp; It has been selected by the Department of Science and Technology, Government of India to build awareness among children from 91 Aspirational Districts in 19 States.&nbsp;<strong>This is a National Mission Project</strong> and Haselfre Foundation works with 9100 schools covering 20 lakh children all over India.</p>

<p>&nbsp;</p>

<p>As per the project, in the Aspirational District, in consultation with State and District Administration 100 Government Middle Schools (Class 6, 7 and 8) are chosen and two teachers from each of these schools trained on 10 key technologies that will impact the future, the likely scenarios on the future of agriculture, transportation, health, education, environment etc in a manner that children can understand. Each school is also given an AI enabled Robotic Tablet in which relevant content has been embedded and is voice enabled. The tablet is unique in that it works even in rural areas where there may be no access to the Internet. The teacher has to keep it in the school and allow the students to interact with this voice enabled system and more importantly,&nbsp;allow the children to think on issues in a creative and innovative manner.&nbsp;</p>

<p>&nbsp;</p>

<p>While we will train the teachers and do all the needful, it is necessary to visit some of the schools to ensure that everything is going ahead as planned and trained. If they have some issues, our District Field Coordinator will help them set it up in the school, help in the training of the student process. To begin with, (s)he will create a WhatsApp group of all the 100 schools, as is being done in other districts. We receive at least 20 posts from each district every day in the form of pictures, comments, videos of children participation of all kinds.&nbsp;</p>

<p>&nbsp;</p>

<p><strong>We have also crafted a theme song called Future Shandaar.</strong> Its lyrics and catchy tune enable children to learn about these technologies and their impact. Many children sing it in groups and some have choreographed dance. Some have translated it to Assamese &amp; other languages. The possibilities are endless.</p>

<p>&nbsp;</p>

<p><strong>Some facts about the AI enabled Robotic Tablet.</strong> It is not just a 10-inch tablet. It is specially designed for rural schools in aspirational districts where there is remote possibility of Internet and Wi-Fi; they get only 2G or 3G mobile service. So, it has a mobile chip that has been pre-paid for the duration of the project. Not having access to Internet or any ports for printer etc protects the children, school and administration in the following manner:</p>

<p>&nbsp;</p>

<ol>
    <li>They will not have access to adult content from the system in the school</li>
    <li>They will not have access to issues that are not relevant to children now &ndash; politics, religion etc</li>
    <li>They will not have access to fake news</li>
</ol>

<p>&nbsp;</p>

<p>All of these are important as the children can converse with the tablet. They can ask questions and the system will try to answer. If it does not have the answer, it will say so and ask children to ask back after a few days. All such questions are filtered in the backend of Haselfre Foundation with respect to the three issues raised above. The system thus learns continuously &ndash; from 500 questions when we started the program, today we have 5000 questions and in 6 months, would have learnt to handle one lakh questions. While the questions may emanate from one school, the answer goes to all the participating schools, which is a progressively increasing number.&nbsp; Thus, children learn about the power of collaboration and continuous learning.&nbsp; They can also learn to participate in Olympiad etc and act as a change agent in their neighbourhood. Schools can help by allowing the children the time and space to think creatively.</p>

<p>&nbsp;</p>

<p>The robotic algorithms help the stakeholders see the richness of the usage of the tablet by children. Thus, it will send appropriate signals in the following scenarios:</p>

<ul>
    <li>The tablet is not in use; kept locked away</li>
    <li>The tablet is just switched on; children are not using</li>
    <li>Children are seeing the content, asking questions etc.</li>
</ul>

<p>&nbsp;</p>

<p>These help us identify if assistance is needed in any school for ensuring the success of the program.</p>

<p>&nbsp;</p>

<p><strong>Contact Details</strong></p>

<p>Haselfre Foundation</p>

<p>Kingston 1A, 29/17, MGR Road</p>

<p>Kalakshetra Colony, Besant Nagar</p>

<p>Chennai 600090, Tamil Nadu</p>

<p>&nbsp;</p>

<p>Website: <a href="https://www.haselfrefoundation.org/">https://www.haselfrefoundation.org/</a>&nbsp;</p>

<p>&nbsp;</p>

<p>Facebook: <a href="http://www.facebook.com/HaselfreFoundation">www.facebook.com/HaselfreFoundation</a>.&nbsp;</p>

<p>&nbsp;</p>

<p>Email: <a href="mailto:contact@haselfrefoundation.org">contact@haselfrefoundation.org</a></p>
</div>
</div>
</div>
</div>


                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            Detail view</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group form-float">
                                    <div class="form-line input-field">
                                         <table id="tableExport1"
                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>DeviceId</th>
                                            <th>Time</th>
                                            <th>Device_Off</th>
                                            <th>Device_On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let alert of particulardata">
                                            <td>{{alert.Device_Id }}</td>
                                            <td>{{alert.Time}}</td>
                                            <td>{{alert.Device_Off?alert.Device_Off:'-'}}</td>
                                            <td>{{alert.Device_On?alert.Device_On:'-'}}</td>
                                        </tr> -->
                                    </tbody>
                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-info waves-effect">Assign</button> -->
                    <button type="button"
                        class="btn btn-danger waves-effect"
                        data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>


        <!-- #END# Exportable Table -->
    </div>
    </div>
    
</section>