<section class="content">
    <div class="container-fluid">
        
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                            <h2>
                                    <strong>Feedback</strong>
                                </h2>

                    </div>
                    <div class="body">
                        <div class="row justify-content-md-center">

                            <div class="col-md-6">
                                <div class="card border-apply">
                                    <div class="m-b-15">
                                        <div class="contact-grid">
                                            <div class="profile-header bg-cyan">
                                                <div class="user-name"><b>Haselfre Foundation</b></div>

                                            </div>

                                            <p>
                                                <br>
                                                <label class="title"> Contact &nbsp;: &nbsp; Haselfre Foudation </label>
                                                <br />
                                                <br>
                                                <label> Email &nbsp; : &nbsp; support91@haselfrefoundation.org</label>
                                                
                                                <br>
                                                <label> Mobile Number &nbsp; : &nbsp;  +91 6380776279</label>
                                            </p>

                                            <div class="profile-userbuttons">
                                                <label class="version">Version 0.1</label>
                                                <br>
                                                <label class="version"> &copy; Haselfre Foundation -2019</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>