<style type="text/css">
    select {
        display: block !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>State MOU upload</strong>
                    </h2>
                      <ul class="header-dropdown m-r--5" >
                            <button (click)="addDevice()" class="color">Back</button>

                        </ul>
                </div>
                <div class="body">
                    <!-- #userCreation="ngForm" -->
                   <form id="form_validation" method="POST" [formGroup]="fileupload"
                        (ngSubmit)="OnDeviceformSubmit(fileupload.value)">
                          <div class="row clearfix">
                           
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                <label>State List</label>
                                <div class="input-field col s12">
                                    <select (change)="stateChange($event)" formControlName="stateId">
                                        <option value="" class="font" disabled>Select State</option>
                                        <option *ngFor="let item of passdata['data']; let i = index" value="{{i}}">
                                            {{item.stateName}}</option>
                                    </select>
                                        <input type="hidden" class="form-control" formControlName="stateName" required >
                                  
                                    <div *ngIf="stateId.invalid && stateId.touched">
                                        <small class="text-danger" *ngIf="stateId.errors?.required">State is
                                            required</small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                <div class="form-group form-float">
                                    <label>File</label>
                                    <div class="wrap-input100 validate-input">
                                        <input type="file" class="input100 font" 
                                            formControlName="file" (change)="fileChange($event)">
                                            <a target="_blank" href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Statemou/{{ this.passdata1['data'].Statemou }}" style="margin-top:10px">MOU document</a>
                                            <input type="hidden" class="form-control" formControlName="file1" required>
                                        <div *ngIf="file.invalid && file.touched">
                                            <small class="text-danger" *ngIf="file.errors?.required" >Please select the files</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- [attr.disabled]="!userCreation.valid ? true : true" -->
                        <button class="submit btn-hover btn-border-radius color-1 button" type="submit">SUBMIT</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>