<style type="text/css">
  .jqx-grid-pager {
      left: 100px;
      width: 900px !important;
  }

  .jqx-widget-header {
      width: 900px !important;
  }

  .jqx-button {
      display: none;
  }
  label .input-field
  {
      font-size: 17px !important;
  }
  .filter-option-inner-inner
  {
      text-transform: none !important;
  }
</style>
<style type="text/css">
    select {
      display: block !important;
  }
</style>
<section class="content" style="margin-left: 20%">
  <div class="container-fluid" >
    <p>
        <strong style="font-size: 20px;;">Program Investigator</strong> 
    </p>
    <table>
      <thead>
          <tr>
              <th class="font">S.NO</th>
              <th class="font">Investigator Name</th>
              <th class="font">Designation</th>
              
              <!-- /Brochure -->
          </tr>
    
      </thead>
      <tbody>
          <tr>
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>
    
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Kit Shanpliang</td>
    
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Program Investigator</td>
    
          </tr>
          
         
      </tbody>
    </table>

      <p>
          <strong style="font-size: 20px;;">State Coordinators</strong> 
      </p>
      <table>
        <thead>
            <tr>
                <th class="font">S.NO</th>
                <th class="font">Coordinator Name</th>
                <th class="font">Coordinator Location</th>
                
                <!-- /Brochure -->
            </tr>

        </thead>
        <tbody>
            <tr>
                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Ashish Kolarkar</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Madhya Pradesh</td>

            </tr>
            <tr>
                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Prasanna Nerkar</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Chhattisgarh</td>

            </tr>
            <tr>
                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Anirudh Kumar Trivedi</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Uttar Pradesh and Uttarakhand</td>

            </tr>
            <tr>
                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Mahesh Kumar Agrawal</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Jharkhand</td>

            </tr>
            <tr>
                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Anil Singh</td>

                <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Bihar</td>

            </tr>
        </tbody>
    </table>


    <p>
        <strong style="font-size: 20px;;">North East Team</strong> 
    </p>
    <table>
      <thead>
          <tr>
              <th class="font">S.NO</th>
              <th class="font">Coordinator Name</th>
              <th class="font">Coordinator Location</th>
              
              <!-- /Brochure -->
          </tr>

      </thead>
      <tbody>
          <tr>
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Kit Shanpliang</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">West Sikkim</td>

          </tr>
          <tr>
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Kelly Syiemiong</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Baksa</td>

          </tr>
          <tr>
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rajib Pathak</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Barpeta, Dhubri, Goalpara</td>

          </tr>
          <tr>
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Dipankar Gogoi</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Darrang, Udalguri</td>

          </tr>
          <tr>
              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rajib Chakraborty</td>

              <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Hailakandi</td>

          </tr>
          <tr>
            <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">6</td>

            <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sadhan Molsom</td>

            <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Dhalai</td>

        </tr>
      </tbody>
  </table>


  <p>
    <strong style="font-size: 20px;;">Others Team</strong> 
</p>
<table>
  <thead>
      <tr>
          <th class="font">S.NO</th>
          <th class="font">Coordinator Name</th>
          <th class="font">Coordinator Location</th>
          
          <!-- /Brochure -->
      </tr>

  </thead>
  <tbody>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">C R Narayanan</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Raichooru, Yadgir</td>

      </tr>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Locating with help of District Admin</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Virudhunagar</td>

      </tr>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;"> Stebhan Raj</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Ramanathapuram</td>

      </tr>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Pramod</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Wayanad</td>

      </tr>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Suchit Kumar</td>

          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Narmada, Dahod</td>

      </tr>
     
  </tbody>
</table>

<p>
    <strong style="font-size: 20px;;">Uttarakhand Team</strong> 
</p>
<table>
  <thead>
      <tr>
        <th class="font">S.NO</th>
          <th class="font">Name</th>
          <th class="font">District</th>
          
          <!-- /Brochure -->
      </tr>

  </thead>
  <tbody>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Dinesh Tiwari</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;"> Haridwar</td>
      </tr>
      <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Shushil</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rudrapur</td>
    </tr>
      
     
  </tbody>
</table>

<p>
    <strong style="font-size: 20px;;">Uttar Pradesh Team</strong> 
</p>
<table>
  <thead>
      <tr>
        <th class="font">S.NO</th>
          <th class="font">Name</th>
          <th class="font">District</th>
          
          <!-- /Brochure -->
      </tr>

  </thead>
  <tbody>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Ashwini Kumar Unnao</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;"> Fatehpur</td>
      </tr>
      <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Namo Narayan Gupta</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Chitrakoot</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Mohammed Salman</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Balrampur</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Prince Pandey</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Siddharth Nagar</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Puja Gupta</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Shravasti</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">6</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Shareeq</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Bahraich</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">7</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Jyoti Prakash</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sonbhadra</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">8</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Himanshu</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Chandauli</td>
    </tr>
      
     
  </tbody>
</table>



<p>
    <strong style="font-size: 20px;;"> Chhattisgarh  Team</strong> 
</p>
<table>
  <thead>
      <tr>
        <th class="font">S.NO</th>
          <th class="font">Employee Name</th>
          <th class="font">Employee Location</th>
          
          <!-- /Brochure -->
      </tr>

  </thead>
  <tbody>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Varsha Lonhare</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Mahasamund</td>
      </tr>
      <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Arun Bhagat</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Korba</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Mahesh Sahu</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rajnandgaon</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Shiv Sagar</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Kanker</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Trinath Deewan</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Kondagaon</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">6</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Prapuja Sharma</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Narayanpur</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">7</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Vikas kashyap</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Jagdalpur</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">8</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Bhupesh Sahu</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Dantewada</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">9</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Jangam Sadawli</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Bijapur</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">10</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Mayank Pratap</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sukma</td>
    </tr>
      
     
  </tbody>
</table>



<p>
    <strong style="font-size: 20px;;">  Jharkhand Team</strong> 
</p>
<table>
  <thead>
      <tr>
        <th class="font">S.NO</th>
          <th class="font"> Name</th>
          <th class="font">District</th>
          
          <!-- /Brochure -->
      </tr>

  </thead>
  <tbody>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rakesh Kumar Pandey</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Khunti </td>
      </tr>
      <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Amrit Ram Mehta</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Ramgarh </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Ajay Kumar Chaoubey</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Gumla </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Nayan Majumdar</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Lohardagga </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sudhir Kumar</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Hazaribag </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">6</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Satish Kumar Pandey</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Garhwa </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">7</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sahajudin Ansari</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sahibganj </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">8</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Manish Kumar Singh</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Latehar </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">9</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sangeeta Roy</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Godda </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">10</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Amit Kumar</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Giridih </td>
    </tr>
      

    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">11</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rajesh Paswan</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">East Singhbhoom</td>
    </tr>
    <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">12</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Jagdish Baraik</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Simdega</td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">13</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Om Prakash Singh</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Bokaro </td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">14</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Suraj Nath Pandey</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Palamu </td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">15</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rajesh Kumar Mishra</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Dumka</td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">16</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Vinod Kumar Rajhans</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Pakur </td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">17</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Dharmendra Kumar</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Chatra </td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">18</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Mukesh Kumar</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">West Singhbhum</td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">19</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Susmit Kumar </td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Ranchi</td>
  </tr>
 
     
  </tbody>
</table>


<p>
    <strong style="font-size: 20px;;">  Bihar Team</strong> 
</p>
<table>
  <thead>
      <tr>
        <th class="font">S.NO</th>
          <th class="font"> Name</th>
          <th class="font">District</th>
          
          <!-- /Brochure -->
      </tr>

  </thead>
  <tbody>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Chandan Kumar</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Khagaria </td>
      </tr>
      <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sudhanshu Kumar</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sitamarhi </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Chandrashekhar Jha</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Purnia</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Ujjwal Mishra</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Araria </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Rajni Kant Singh</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Nawada </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">6</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Atish Anand</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Banka </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">7</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sumant Kumar Singh</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Sheikhpura </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">8</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Hemant Kumar</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Jamui </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">9</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Kritika Kumari</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Gaya </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">10</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Prabhakar Singh</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Muzaffarpur </td>
    </tr>
      

    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">11</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Arnab Majumdar</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Katihar</td>
    </tr>
    <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">12</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Pankaj Dubey</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Begusarai</td>
  </tr>
  <tr>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">13</td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Arya Nand </td>
      <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">Aurangabad </td>
  </tr>
 
 
     
  </tbody>
</table>


<p>
    <strong style="font-size: 20px;;"> Madhya Pradesh Team</strong> 
</p>
<table>
  <thead>
      <tr>
        <th class="font">S.NO</th>
          <th class="font"> Name</th>
          <th class="font">District</th>
          
          <!-- /Brochure -->
      </tr>

  </thead>
  <tbody>
      <tr>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">1</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">ADITYA POURANIK</td>
          <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">VIDISHA</td>
      </tr>
      <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">2</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">LAKHAN YADAV</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">GUNA </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">3</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">RAHUL PARIHAR</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">RAJGARH</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">4</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">SUNIL DEVDA</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">KHANDWA </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">5</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">SUNIL YADAV</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">DAMOH</td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">6</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">RAHUL KUMAR YADAV</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">CHHATARPUR </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">7</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">ABHINAV SHRIVASTAVA</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">SINGRAULI </td>
    </tr>
    <tr>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">8</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">MANOJ VERMA</td>
        <td style=" font-family: 'gillsans', helvetica neue, arial, sans-serif;">BARWANI </td>
    </tr>

 
 
     
  </tbody>
</table>


  </div>
  
</section>