.counter-box1{
    padding: 15px;
    color: #212529;
    margin: 8px 0 25px 0;
   
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    min-height: 90px;
}
.font{
    font-size: 15px;
}
.btn{
    background-color: #4d4d4d;
    color: #ffff
}
.underline {
    text-decoration: underline !important;
}

.content {
    width: 100%;
    padding-right: 20px;
    padding-top: 35px;
    padding-left: 320px;
    margin-right: auto;
    margin-left: auto;
}