<style type="text/css">
    select {
        display: block !important;
    }
</style>
<section class="content">
    <div class="content1">
        <br>
       <!-- <label>ASSAM STATE</label> -->
       <h4><b>{{userstateName}} State</b></h4>
       <br>

       <form id="form_validation" method="POST" [formGroup]="changePassword">
      <div class="row">
        <div class="col-md-4">
          <div class="input-field col s12">
              <select  id="statename" (change)="stateChange($event)"  formControlName="stateName" class="selectpicker1" data-live-search="true" hidden>
                 <!--- <option value="{{statetitle}}" disabled selected>{{statetitle}}</option> -->
                  <option *ngFor="let item of passdata; let i = index" value="{{item.stateName}}">
                  {{item.stateName}}</option>
              </select>
              <!-- <h4 ><b>State :- {{userstateName}}</b></h4> -->
          </div>
        </div>
       

        <div class="col-md-4">
          <div class="input-field col s12">
              <select (change)="typeChange($event)" class="selectpicker2" data-live-search="true">
                  <option value="Videowatched" selected>Videos watched</option>
                  <option value="Queryasked">Queries asked</option>
                  <option value="UnansweredQueries">Unanswered Queries</option>
                  <option value="TimesPoweredOn">Times Powered On</option>
                  
              </select>
          </div>
        </div>
      </div>
     
      </form>

        <div class="row">
            <!--  <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
              <div style="display: block;width:450px; border: 1px solid; margin-left: 10px">
              <h3 style="color:#01040D;text-align: center;">Tablet communication</h3>
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="colors">
              </canvas> 
            </div>
                <!-- <img class="logo1" src="assets/images/barChart/assam1.jpeg" alt=""   style="padding: 10px" /> --
            </div>
            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                    <!-- <img class="logo1" src="assets/images/barChart/assam2.jpeg" alt="" style="padding: 10px"/> --

            <div style="display: block;width:450px; border: 1px solid; margin-left: 10px">
              <h3 style="color:#01040D;text-align: center;">Videos Watched</h3>
              <canvas baseChart
                [datasets]="vidbarChartData"
                [labels]="vidbarChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="colors">
              </canvas>
            </div>

            </div> -->
            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                <!-- <img class="logo1" src="assets/images/barChart/assam3.jpeg" alt="" style="padding: 10px"/> -->
            <div style="display: block;width:800px; height: 450px; border: 2px solid; margin-left: 10px;margin-top: 10px">
              <h3 style="color:#01040D;text-align: center;">{{title | uppercase}}</h3>
              <canvas baseChart
                [datasets]="audbarChartData"
                [labels]="audbarChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="colors">
              </canvas>
            </div>
        </div>
        </div>
    </div>
</section>
