<style type="text/css">
    .jqx-grid-pager {
        left: 100px;
        width: 900px !important;
    }

    .jqx-widget-header {
        width: 900px !important;
    }

    .jqx-button {
        display: none;
    }
    label .input-field
    {
        font-size: 17px !important;
    }
    .filter-option-inner-inner
    {
        text-transform: none !important;
    }
</style>
<style type="text/css">
      select {
        display: block !important;
    }
</style>
<section class="content" style="margin-left: 20%">
    <div class="container-fluid" >
       
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">

                            <h2>
                                    <strong>AI ROBOTIC TABLET</strong>
                                </h2>
                    </div>
                    <div class="body">
                    <div class="features-content">
<div class="features-desc">
<div class="features-desc-icon mb-2 text-custom">
<div>
<p><strong>Weight</strong></p>

<ul>
    <li>1.16 lbs. (530 grams)</li>
    <li>Size 240.2mm*170.2mm*9.6mm</li>
</ul>

<p><strong>Colours</strong></p>

<ul>
    <li>White</li>
</ul>

<p><strong>Processor</strong></p>

<ul>
    <li>Arm&reg; Processor</li>
    <li>1.3 GHz</li>
    <li>Quad-Core</li>
    <li>2 GB RAM</li>
    <li>32 GB Internal Memory</li>
    <li>OS &ndash; Android 6.0</li>
</ul>

<p>&nbsp;</p>

<p><strong>Display</strong></p>

<ul>
    <li>10.1&rdquo; Display</li>
    <li>1280*800 IPS Resolution</li>
    <li>Capacitive Touch control</li>
</ul>

<p><strong>GSM module</strong></p>

<ul>
    <li>2G Support</li>
    <li>GPRS/GSM:850/900/1800/1900MHz</li>
    <li>GPRS (kbps):85.6(DL)/42.8(UL)</li>
</ul>

<p><strong>Mic and Speaker</strong></p>

<ul>
    <li>1 High performance digital microphone</li>
    <li>1 Quality speaker</li>
</ul>

<p><strong>Supported Audio Formats</strong></p>

<ul>
    <li>HE-AAC</li>
    <li>LC-AAC</li>
    <li>MP3</li>
    <li>vorbis</li>
    <li>WAV (LPCM)</li>
    <li>Opus</li>
    <li>FLAC with support for high-resolution streams (24-bit/96KHz)</li>
</ul>

<p><strong>Supported Video Formats</strong></p>

<ul>
    <li>H.264</li>
    <li>MP4</li>
    <li>OGG</li>
    <li>WMV</li>
    <li>FLV</li>
    <li>AVI</li>
    <li>MKV</li>
    <li>MOV</li>
</ul>

<p><strong>Power Adapter</strong></p>

<ul>
    <li>5V/2A (with Micro-USB connector)</li>
</ul>

<p><strong>Battery</strong></p>

<ul>
    <li>4000 mAh</li>
</ul>

<p><strong>Software</strong></p>

<ol>
    <li>Pre-loaded with learning software videos to help children understand future technologies.</li>
    
    <li>Interactive voice activated questions and answers.</li>
       
        <li>A Future Shandaar lyric video</li>
        <li>A Future Shandaar audio file.</li>
        <li>An ICPS training video available in English.</li>
    
    
</ol>

<p><strong>Images</strong></p>
<div class="row">
    
        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                <img class="logo1" src="assets/images/TabImage1.jpeg" alt=""  style="padding: 10px"/>
        </div>

        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                <img class="logo1" src="assets/images/TabImage2.jpeg" alt=""   style="padding: 10px"/>
        </div>

        <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                <img class="logo1" src="assets/images/TabImage3.jpeg" alt=""   style="padding: 10px"/>
        </div>
    </div> 
    <p>
        <strong>Videos</strong>
    </p>
    <ol>
    <li> <a target="_blank" href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/tablet_video.mp4">Tablet sample video</a> </li>
    <br>
    
    </ol>

</div>
</div>
</div>
</div>


                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            Detail view</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group form-float">
                                    <div class="form-line input-field">
                                         <table id="tableExport1"
                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>DeviceId</th>
                                            <th>Time</th>
                                            <th>Device_Off</th>
                                            <th>Device_On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let alert of particulardata"> -->
                                            <!-- <td>{{alert.Device_Id }}</td>
                                            <td>{{alert.Time}}</td>
                                            <td>{{alert.Device_Off?alert.Device_Off:'-'}}</td>
                                            <td>{{alert.Device_On?alert.Device_On:'-'}}</td> -->
                                        <!-- </tr> -->
                                    </tbody>
                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-info waves-effect">Assign</button> -->
                    <button type="button"
                        class="btn btn-danger waves-effect"
                        data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>


        <!-- #END# Exportable Table -->
    </div>
    </div>
    
</section>