.version{
    font-size: 12px;
    font-weight: 300;
}
.profile-header{
    min-height: 50px;
}

.title{
    padding-right: 70px;
}
.number{
    padding-left: 110px;
}

.phone{
    padding-right: 15px;
}