<style type="text/css">
    .jqx-grid-pager {
        left: 100px;
        width: 900px !important;
    }

    .jqx-widget-header {
        width: 900px !important;
    }

    .jqx-button {
        display: none;
    }

    label .input-field {
        font-size: 17px !important;
    }

    .filter-option-inner-inner {
        text-transform: none !important;
    }
</style>
<style type="text/css">
    select {
        display: block !important;
    }
</style>


<section class="content" style="margin-left: 20%">
    <div class="container-fluid">

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <!-- 
                            <h2>
                                    <strong>Media Kit</strong>
                                </h2> -->
                    </div>
                    <div class="body">
                        <div class="features-content">
                            <div class="features-desc">
                                <div class="features-desc-icon mb-2 text-custom">
                                    <div>
                                        <h2>
                                            <strong>Brochures</strong>
                                        </h2>
                                        <ol>
                                            <li> <a target="_blank"
                                                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/Assam%20Brochure.pdf">Assam
                                                    Brochure</a> </li>
                                            <br>
                                            <li> <a target="_blank"
                                                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/madhya_pradesh_brochure.pdf">Madhya
                                                    Pradesh Brochure</a> </li>
                                            <br>
                                            <li> <a target="_blank"
                                                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/jharkhand_brochure.pdf">Jharkhand
                                                    Brochure</a> </li>
                                        </ol>
                                        <br>
                                        <br>
                                        <br>
                                        <br>




                                        <h2>
                                            <strong>Program Details (English)</strong>
                                        </h2>
                                        <p><strong>Haselfre Foundation is a Public Charitable Trust</strong> that
                                            focuses on building the foundation of children from Government Schools to be
                                            successful in learning and face the uncertain future with poise and
                                            confidence.&nbsp; It has been selected by the Department of Science and
                                            Technology, Government of India to build awareness among children from 91
                                            Aspirational Districts in 19 States.&nbsp;<strong>This is a National Mission
                                                Project</strong> and Haselfre Foundation works with 9100 schools
                                            covering 20 lakh children all over India.</p>

                                        <p>&nbsp;</p>

                                        <p>As per the project, in the Aspirational District, in consultation with State
                                            and District Administration 100 Government Middle Schools (Class 6, 7 and 8)
                                            are chosen and two teachers from each of these schools trained on 10 key
                                            technologies that will impact the future, the likely scenarios on the future
                                            of agriculture, transportation, health, education, environment etc in a
                                            manner that children can understand. Each school is also given an AI enabled
                                            Robotic Tablet in which relevant content has been embedded and is voice
                                            enabled. The tablet is unique in that it works even in rural areas where
                                            there may be no access to the Internet. The teacher has to keep it in the
                                            school and allow the students to interact with this voice enabled system and
                                            more importantly,&nbsp;allow the children to think on issues in a creative
                                            and innovative manner.&nbsp;</p>

                                        <p>&nbsp;</p>

                                        <p>While we will train the teachers and do all the needful, it is necessary to
                                            visit some of the schools to ensure that everything is going ahead as
                                            planned and trained. If they have some issues, our District Field
                                            Coordinator will help them set it up in the school, help in the training of
                                            the student process. To begin with, (s)he will create a WhatsApp group of
                                            all the 100 schools, as is being done in other districts. We receive at
                                            least 20 posts from each district every day in the form of pictures,
                                            comments, videos of children participation of all kinds.&nbsp;</p>

                                        <p>&nbsp;</p>

                                        <p><strong>We have also crafted a theme song called Future Shandaar.</strong>
                                            Its lyrics and catchy tune enable children to learn about these technologies
                                            and their impact. Many children sing it in groups and some have
                                            choreographed dance. Some have translated it to Assamese &amp; other
                                            languages. The possibilities are endless.</p>

                                        <p>&nbsp;</p>

                                        <p><strong>Some facts about the AI enabled Robotic Tablet.</strong> It is not
                                            just a 10-inch tablet. It is specially designed for rural schools in
                                            aspirational districts where there is remote possibility of Internet and
                                            Wi-Fi; they get only 2G or 3G mobile service. So, it has a mobile chip that
                                            has been pre-paid for the duration of the project. Not having access to
                                            Internet or any ports for printer etc protects the children, school and
                                            administration in the following manner:</p>

                                        <p>&nbsp;</p>

                                        <ol>
                                            <li>They will not have access to adult content from the system in the school
                                            </li>
                                            <li>They will not have access to issues that are not relevant to children
                                                now &ndash; politics, religion etc</li>
                                            <li>They will not have access to fake news</li>
                                        </ol>

                                        <p>&nbsp;</p>

                                        <p>All of these are important as the children can converse with the tablet. They
                                            can ask questions and the system will try to answer. If it does not have the
                                            answer, it will say so and ask children to ask back after a few days. All
                                            such questions are filtered in the backend of Haselfre Foundation with
                                            respect to the three issues raised above. The system thus learns
                                            continuously &ndash; from 500 questions when we started the program, today
                                            we have 5000 questions and in 6 months, would have learnt to handle one lakh
                                            questions. While the questions may emanate from one school, the answer goes
                                            to all the participating schools, which is a progressively increasing
                                            number.&nbsp; Thus, children learn about the power of collaboration and
                                            continuous learning.&nbsp; They can also learn to participate in Olympiad
                                            etc and act as a change agent in their neighbourhood. Schools can help by
                                            allowing the children the time and space to think creatively.</p>

                                        <p>&nbsp;</p>

                                        <p>The robotic algorithms help the stakeholders see the richness of the usage of
                                            the tablet by children. Thus, it will send appropriate signals in the
                                            following scenarios:</p>

                                        <ul>
                                            <li>The tablet is not in use; kept locked away</li>
                                            <li>The tablet is just switched on; children are not using</li>
                                            <li>Children are seeing the content, asking questions etc.</li>
                                        </ul>

                                        <p>&nbsp;</p>

                                        <p>These help us identify if assistance is needed in any school for ensuring the
                                            success of the program.</p>

                                        <p>&nbsp;</p>

                                        <p><strong>Contact Details</strong></p>

                                        <p>Haselfre Foundation</p>

                                        <p>Kingston 1A, 29/17, MGR Road</p>

                                        <p>Kalakshetra Colony, Besant Nagar</p>

                                        <p>Chennai 600090, Tamil Nadu</p>

                                        <p>&nbsp;</p>

                                        <p>Website: <a
                                                href="https://www.haselfrefoundation.org/">https://www.haselfrefoundation.org/</a>&nbsp;
                                        </p>

                                        <p>&nbsp;</p>

                                        <p>Facebook: <a
                                                href="http://www.facebook.com/HaselfreFoundation">www.facebook.com/HaselfreFoundation</a>.&nbsp;
                                        </p>

                                        <p>&nbsp;</p>

                                        <p>Email: <a
                                                href="mailto:contact@haselfrefoundation.org">contact@haselfrefoundation.org</a>
                                        </p>
                                    </div>
                                    <h2>
                                        <strong>Program Details (Hindi)</strong>
                                    </h2>
                                    <div>
                                        &nbsp;
                                        <p dir="ltr"><strong>आकांक्षी जिलों की&nbsp; शासकीय शालाओं के बच्चों के लिए
                                                राष्ट्रीय मिशन - आईसीपीएस का संक्षिप्त परिचय&nbsp;</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>हेसलफ्रे फाउंडेशन एक पब्लिक चेरिटेबल ट्रस्ट है जो सरकारी
                                                स्कूलों के बच्चों की नींव को मजबूत करने ताकि वे&nbsp; भविष्य में आने
                                                वाली चुनौतियों का सामना सफलतापूर्वक, सहज और आत्मविश्वास से करने की कला
                                                सीख सकें इस विचार पर केंद्रित है। इसे&nbsp; विज्ञान और प्रौद्योगिकी
                                                विभाग, भारत सरकार द्वारा 19 राज्यों में 91 आकांक्षी जिलों के बच्चों में
                                                जागरूकता पैदा करने के लिए चुना गया है। यह एक राष्ट्रीय मिशन परियोजना है
                                                और हेसलफ्रे फाउंडेशन द्वारा पूरे भारत में फैले 9100 शासकीय शालाओं
                                                के&nbsp; 20 लाख बच्चों तक पहुँचने का लक्ष्य रखा है ।</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>परियोजना के अनुसार, आकांक्षी&nbsp; जिले में, राज्य और जिला
                                                प्रशासन के परामर्श से 100 सरकारी माध्यमिक शालाओं&nbsp; (कक्षा 6, 7 और 8)
                                                को चुना जाता है और इनमें से प्रत्येक प्रत्येक स्कूल के दो शिक्षकों&nbsp;
                                                को 10 टेक्नोलॉजीस, जोकि की हमारे भविष्य को प्रभावित करेगी, के बारे में
                                                प्रशिक्षित किया जाता है और कृषि, परिवहन, स्वास्थ्य, शिक्षा, पर्यावरण आदि
                                                के भविष्य पर संभावित परिदृश्य के बारे इस तरीके से समझाया जाता है&nbsp;
                                                कि बच्चे समझ सकें। प्रत्येक स्कूल को एक एआई सक्षम रोबोटिक टैबलेट भी दिया
                                                जाता है जिसमें संबंधित सामग्री समाहित की गई है और जो आवाज को सुनने और
                                                समझने में सक्षम है। टैबलेट इस मायने में अनूठा है कि यह उन ग्रामीण
                                                क्षेत्रों में भी काम करता है, जहां इंटरनेट की पहुंच नहीं हो सकती है।
                                                शिक्षक को इसे स्कूल में रखना है और छात्रों को इस आवाज सक्षम प्रणाली के
                                                साथ बातचीत करने और अधिक महत्वपूर्ण बात यह है कि बच्चों को रचनात्मक और
                                                अभिनव तरीके से मुद्दों पर सोचने के लिए प्रेरित करना है ।</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>जब हम शिक्षकों को प्रशिक्षित करेंगे और सभी आवश्यक कदम
                                                लेंगे, तो यह सुनिश्चित करने के लिए कि सब कुछ नियोजित और प्रशिक्षित&nbsp;
                                                रूप में आगे बढ़ रहा है, कुछ विद्यालयों का दौरा करना आवश्यक है । अगर उनके
                                                पास कुछ मुद्दे हैं, तो हमारे जिला फील्ड समन्वयक उन्हें स्कूल में इसे
                                                सुलझाने में मदद करेंगे, साथ ही छात्र प्रक्षिशण प्रक्रिया में भी&nbsp;
                                                मदद करेंगे। प्रारम्भ में फील्ड समन्वयक द्वारा सभी 100 स्कूलों का एक
                                                व्हाट्सएप ग्रुप बनाया जायेगा , जैसा कि अन्य जिलों में किया जा रहा है।
                                                हमें हर दिन प्रत्येक जिले से कम से कम 20 पोस्ट प्राप्त होते हैं,
                                                जिसमें&nbsp; बच्चों की तस्वीरें, टिप्पणियां, वीडियो इत्यादि प्रकार शामिल
                                                हैं।</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>हमने &quot;फ्यूचर शानदार&quot;&nbsp; नामक एक थीम गीत भी
                                                तैयार किया है। इसके बोल और आकर्षक धुन बच्चों को इन तकनीकों और उनके
                                                प्रभाव के बारे में जानने में सक्षम बनाते हैं। कई बच्चे इसे समूहों में
                                                गाते हैं और कुछ ने इस पर&nbsp; नृत्य भी किया है। कुछ ने इसका असमिया और
                                                अन्य भाषाओं में अनुवाद किया है। संभावनाएं अनंत हैं।</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>AI सक्षम रोबोटिक टैबलेट के बारे में कुछ तथ्य :&nbsp; यह
                                                सिर्फ 10 इंच की टेबलेट नहीं है। इसे विशेष रूप से आकांक्षात्मक जिलों में
                                                ग्रामीण स्कूलों के लिए डिज़ाइन किया गया है जहां इंटरनेट और वाई-फाई की
                                                दूरस्थ संभावना है; उन्हें केवल 2G या 3G मोबाइल सेवा मिलती है।&nbsp;
                                                इसमें एक मोबाइल चिप है जिसका परियोजना की अवधि के लिए पूर्व-भुगतान किया
                                                गया है। इंटरनेट या प्रिंटर आदि के लिए किसी भी पोर्ट तक पहुंच नहीं होने
                                                से निम्नलिखित तरीके से बच्चों, स्कूल और प्रशासन की सुरक्षा होती
                                                है:</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>1. स्कूल में सिस्टम से वयस्क सामग्री तक उनकी पहुँच नहीं
                                                होगी</strong></p>

                                        <p dir="ltr"><strong>2. उनके पास उन मुद्दों तक पहुंच नहीं होगी जो अब बच्चों के
                                                लिए प्रासंगिक नहीं हैं - राजनीति, धर्म आदि</strong></p>

                                        <p dir="ltr"><strong>3. उन्हें नकली समाचार (fake news) तक पहुंच नहीं
                                                होगी</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>ये सभी महत्वपूर्ण हैं क्योंकि बच्चे टैबलेट के साथ बातचीत
                                                कर&nbsp; सकते हैं। वे सवाल पूछ सकते हैं और सिस्टम जवाब देने की कोशिश
                                                करेगा। यदि इसका उत्तर नहीं है, तो यह ऐसा कहेगा और बच्चों से कुछ दिनों के
                                                बाद वापस पूछने के लिए कहेगा। इस तरह के सभी सवालों को हेसलफ्रे फाउंडेशन
                                                द्वारा बैक एन्ड में&nbsp; ऊपर दिए गए तीन मुद्दों को ध्यान में रखकर
                                                फ़िल्टर किया जाता है । इस प्रकार प्रणाली लगातार सीखती है - 500 प्रश्नों
                                                से जब हमने कार्यक्रम शुरू किया था, आज हमारे पास 5000 प्रश्न हैं और 6
                                                महीनों में, ऐसी संभावना है की यह एक लाख प्रश्नों को का जवाब दे सकेगा ।
                                                हालांकि प्रश्न एक स्कूल से निकल कर आता है, लेकिन उत्तर सभी भाग लेने वाले
                                                स्कूलों के पास&nbsp; जाता है, जिनकी संख्या उत्तरोत्तर बढ़ता जाएगी । इस
                                                प्रकार, बच्चे सहयोग की शक्ति और निरंतर सीखने के बारे में सीखते हैं। वे
                                                ओलंपियाड आदि में भाग लेना और अपने आसपास में एक &quot;चेंज एजेंट&quot; के
                                                रूप में कार्य करना भी सीख सकते हैं। स्कूल बच्चों को रचनात्मक रूप से
                                                सोचने के लिए समय और स्थान उपलब्ध करा कर मदद कर सकते हैं।</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>रोबोटिक एल्गोरिदम बच्चों द्वारा टैबलेट के उपयोग के बारे में
                                                जानकारी देने में मदद करता है । इस प्रकार, यह निम्नलिखित परिदृश्यों में
                                                उचित संकेत भेजेगा:</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>&bull; टैबलेट उपयोग में नहीं है; दूर रखा गया</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>&bull; टैबलेट को केवल स्विच किया गया है; बच्चे उपयोग नहीं
                                                कर रहे हैं</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>&bull; बच्चे सामग्री देख रहे हैं, सवाल पूछ रहे हैं
                                                आदि।</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>इस प्रकार के संकेतों के द्वारा हम यह सुनिश्चित करने का
                                                प्रयास करते हैं की किस&nbsp; स्कूल को सहायता की आवश्यकता है और हम आवश्यक
                                                कदम उठाते है ।</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>संपर्क विवरण :</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>हेसलफ्रे फाउंडेशन</strong></p>

                                        <p dir="ltr"><strong>किंग्स्टन 1 ए, 29/17, एमजीआर रोड</strong></p>

                                        <p dir="ltr"><strong>कलाक्षेत्र कॉलोनी, बेसेंट नगर</strong></p>

                                        <p dir="ltr"><strong>चेन्नई 600090, तमिलनाडु</strong></p>
                                        &nbsp;

                                        <p dir="ltr"><strong>वेबसाइट:</strong> <a
                                                href="https://www.haselfrefoundation.org/">
                                                https://www.haselfrefoundation.org/</a> </p>
                                        &nbsp;

                                        <p dir="ltr"><strong>फेसबुक:</strong> <a
                                                href="http://www.facebook.com/HaselfreFoundation">www.facebook.com/HaselfreFoundation</a>
                                        </p>
                                        &nbsp;

                                        <p dir="ltr"><strong>ईमेल: <a
                                                    href="mailto:contact@haselfrefoundation.org">contact@haselfrefoundation.org</a></strong>
                                        </p>
                                        <br />

                                        &nbsp;
                                    </div>


                                    <h2>
                                        <strong>AI Robotic Analytics</strong>
                                    </h2>


                                    <div>
                                        <p><strong>Weight</strong></p>

                                        <ul>
                                            <li>1.16 lbs. (530 grams)</li>
                                            <li>Size 240.2mm*170.2mm*9.6mm</li>
                                        </ul>

                                        <p><strong>Colours</strong></p>

                                        <ul>
                                            <li>White</li>
                                        </ul>

                                        <p><strong>Processor</strong></p>

                                        <ul>
                                            <li>Arm&reg; Processor</li>
                                            <li>1.3 GHz</li>
                                            <li>Quad-Core</li>
                                            <li>2 GB RAM</li>
                                            <li>32 GB Internal Memory</li>
                                            <li>OS &ndash; Android 6.0</li>
                                        </ul>

                                        <p>&nbsp;</p>

                                        <p><strong>Display</strong></p>

                                        <ul>
                                            <li>10.1&rdquo; Display</li>
                                            <li>1280*800 IPS Resolution</li>
                                            <li>Capacitive Touch control</li>
                                        </ul>

                                        <p><strong>GSM module</strong></p>

                                        <ul>
                                            <li>2G Support</li>
                                            <li>GPRS/GSM:850/900/1800/1900MHz</li>
                                            <li>GPRS (kbps):85.6(DL)/42.8(UL)</li>
                                        </ul>

                                        <p><strong>Mic and Speaker</strong></p>

                                        <ul>
                                            <li>1 High performance digital microphone</li>
                                            <li>1 Quality speaker</li>
                                        </ul>

                                        <p><strong>Supported Audio Formats</strong></p>

                                        <ul>
                                            <li>HE-AAC</li>
                                            <li>LC-AAC</li>
                                            <li>MP3</li>
                                            <li>vorbis</li>
                                            <li>WAV (LPCM)</li>
                                            <li>Opus</li>
                                            <li>FLAC with support for high-resolution streams (24-bit/96KHz)</li>
                                        </ul>

                                        <p><strong>Supported Video Formats</strong></p>

                                        <ul>
                                            <li>H.264</li>
                                            <li>MP4</li>
                                            <li>OGG</li>
                                            <li>WMV</li>
                                            <li>FLV</li>
                                            <li>AVI</li>
                                            <li>MKV</li>
                                            <li>MOV</li>
                                        </ul>

                                        <p><strong>Power Adapter</strong></p>

                                        <ul>
                                            <li>5V/2A (with Micro-USB connector)</li>
                                        </ul>

                                        <p><strong>Battery</strong></p>

                                        <ul>
                                            <li>4000 mAh</li>
                                        </ul>

                                        <p><strong>Software</strong></p>

                                        <ol>
                                            <li>Pre-loaded with learning software videos to help children understand
                                                future technologies.</li>

                                            <li>Interactive voice activated questions and answers.</li>

                                            <li>A Future Shandaar lyric video</li>
                                            <li>A Future Shandaar audio file.</li>
                                            <li>An ICPS training video available in English.</li>


                                        </ol>
                                        <p><strong>Images</strong></p>
                                        <div class="row">

                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" src="assets/images/TabImage1.jpeg" alt=""
                                                    style="padding: 10px" />
                                            </div>

                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" src="assets/images/TabImage2.jpeg" alt=""
                                                    style="padding: 10px" />
                                            </div>

                                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                                <img class="logo1" src="assets/images/TabImage3.jpeg" alt=""
                                                    style="padding: 10px" />
                                            </div>
                                        </div>
                                        <p>
                                            <strong>Videos</strong>
                                        </p>
                                        <ol>
                                            <li> <a target="_blank"
                                                    href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/tablet_video.mp4">Tablet
                                                    sample video</a> </li>
                                            <br>

                                        </ol>


                                        <p>
                                            <strong>Future Shandaar Audio - Tamil</strong>
                                        </p>
                                        <ol>
                                            <audio controls>
                                                <source
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/AudioTamil.mpeg"
                                                    type="audio/mpeg">

                                            </audio>
                                            <!-- <li> <a target="_blank" href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/FutureShandaar_Song.mpeg">FutureShandaar Song</a> </li> -->
                                            <br>

                                        </ol>

                                        <p>
                                            <strong>Future Shandaar Audio - Hindi</strong>
                                        </p>
                                        <ol>
                                            <audio controls>
                                                <source
                                                    src="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/FutureShandaar_Song.mpeg"
                                                    type="audio/mpeg">

                                            </audio>
                                            <!-- <li> <a target="_blank" href="http://afs-icps-image.haselfrefoundation.org.s3-ap-south-1.amazonaws.com/FutureShandaar_Song.mpeg">FutureShandaar Song</a> </li> -->
                                            <br>

                                        </ol>

                                    </div>


                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            Detail view</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group form-float">
                                    <div class="form-line input-field">
                                        <table id="tableExport1"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                            <thead>
                                                <tr>
                                                    <th>DeviceId</th>
                                                    <th>Time</th>
                                                    <th>Device_Off</th>
                                                    <th>Device_On</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr *ngFor="let alert of particulardata"> -->
                                                <!-- <td>{{alert.Device_Id }}</td>
                                            <td>{{alert.Time}}</td>
                                            <td>{{alert.Device_Off?alert.Device_Off:'-'}}</td>
                                            <td>{{alert.Device_On?alert.Device_On:'-'}}</td> -->
                                                <!-- </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- </form> -->
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-info waves-effect">Assign</button> -->
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>


            <!-- #END# Exportable Table -->
        </div>
    </div>

</section>